/*************************** Toggle Box ***************************/

span.easy_toggle {
    background-color: #efefef;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 7px;
    font-size: 20px;
    padding: 0 5px;
    width: 100%;
    font-weight:400 ;
    float: left;
}
span.toggle-active{
  border-radius: 12px 11px 1px 1px;
}
span.easy_toggle a {
text-decoration: none;
display: block;
}
span.toggle-active {
/*background-position: -64px -67px;*/ 

}
.easy_toggle .t-ico{
    background-image: url("togal-plus.png");
    background-size: 100% 100%;
    float: left;
    height: 22px;
    width: 22px;
    margin: 5px;
}
.easy_toggle.toggle-active .t-ico{
   
    background-image: url("togal-minus.png");
}
.toggle-desc {
    background: #efefef none repeat scroll 0 0;
    clear: both;
    overflow: hidden;
    padding: 8px 30px;
    border-radius: 1px 1px 12px 12px;
    font-size: 15px;
    line-height: 26px;
}
